body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--space-l);
}
