.searchbar-wrapper {
  position: relative;
  width: 100%;
}

.search-icon {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}

.search-input {
  width: 50%;
  padding: var(--space-s) var(--space-m) var(--space-s) 36px;
  border: 1px solid var(--input-border);
  border-radius: var(--input-radius);
  background: var(--input-bg);
  background-color: rgb(234, 234, 234);
  color: var(--input-text);
  font-size: 14px;
}

.search-input::placeholder {
  color: var(--input-placeholder);
}

.search-input:focus {
  outline: none;
  border-color: var(--input-border-focus);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}
